[Unit]
Description=Image Grabing Service
After=network.target

[Service]
Type=forking
PIDFile=/var/run/grab.pid
Restart=always
EnvironmentFile=/etc/sysconfig/grab-environment
ExecStart=grab > /var/log/grab.log 2>&1
User=root

[Install]
WantedBy=multi-user.target
